<h1>About this site</h1>
<h2>Created By: Christopher Snyder</h2>


<% if @t.min % 2 == 0 %>
<h2>The current minute is even.</h2>
<% end %>

<% if @t.min % 2 == 1 %>
<h2>The current minute is odd..</h2>
<% end %>







<h3>This website gathers data from two sources to make <br> lists of Names, Dog Breeds, and Snacks, and use them to assemble a list of Good Boys.</h3>
<br>
<br>
<h3>Datasets Used:</h3>
<ul>
<a href = "https://dog.ceo/dog-api/"><li><h2>Dog API</h2></li></a>
<a href = "https://github.com/stympy/faker"><li><h2>Faker Gem</h2></li></a>
</ul>
<br>
<br>
<h3>Database ERD:</h3>
<%=image_tag("ERD.png", alt: "Example Image")%>