<h1>List Of Dogs, all of whom are Good Boys</h1>
<table class="table table-dark">
    <tr>
        <th>Name</th>
    </tr>

<% @goodboy.each do |goodboy| %>
    <td><%= goodboy.name %></td>
    <td><%= link_to 'Show More', goodboy_path(goodboy.id) %></td>
    </tr>
  <% end %>
  <%= paginate @goodboy %>

