<h1>List Of Dogs, all of whom are Good Boys</h1>
<table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Favourite Snack</th>
    </tr>

<% @goodboy.each do |goodboy| %>
    <tr>
    <td><%= goodboy.name %></td>
    <td><%= goodboy.breed %></td>
    <td><%= goodboy.snack %></td>
    </tr>
  <% end %>